<!-- Image and text -->

<nav class="navbar" style="background-color:teal; font-family:Inter,sans-serif!important;">
  <div class="navbar-brand justify-content-start">
<!--    &#8202;-->
    <img src="/media/custom/nb2.svg" width="32" height="32"
       class="d-inline-block align-top" alt="" style="filter:invert(1);">	&nbsp;
    <img src="/media/custom/nb2.svg" width="32" height="32"
       class="d-inline-block align-top" alt="" style="filter:invert(1);"> &nbsp;
    <img src="/media/custom/nb2.svg" width="32" height="32"
       class="d-inline-block align-top" alt="" style="filter:invert(1);">
  </div>
  <a class="navbar-brand justify-content-end" href="{% url 'home' %}" style="color:#FFFFFF;">
    ---------
  </a>
</nav>
